.about-list {
    display: flex;
    justify-content: center;
}

.about-list li {
    margin-right: 30px;
    align-items: center;


    &:last-child {
        margin-right: 0px;;
    }
}

.our-privilege {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: var(--accent-background-our-team-color);
    margin-bottom: 30px;
}

.our-privilege__item {
    width: 65px ;
    height: 70px;
}
 
.about-subtitle {
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}
