
.place {
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    color: var(--primary-background-color);
}

.footer-info {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
}

.icons-footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer-info__svg {
 margin-left: 70px;
}

.footer__icons {
    margin-top: 20px;
}

.footer__svg {
    width: 20px;
    height: 20px;
    fill: var(--secondary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.footer {
    display: flex;
    background: var(--accent-background-footer-color);

    &__list li:not(:last-child) {
        margin-bottom: 9px;
    }
}

/* ----------------------------------Form-footer------------------ */

.footer__form {
    margin-left: 93px;

    &:not(:last-child) {
        display: flex;
        flex-direction: column;
    }
}

.footer-form__input {
    width: 358px;
    height: 50px;
    font-size: 16px;
    line-height: 20px;  
    letter-spacing: 0.03em;
    color: var(--accent-background-our-team-color);
    padding-left: 10px;

    background: transparent;
    box-sizing: border-box;
    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.footer-form__svg {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.footer-form__container {
    display: flex;
}

.sub-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-left: 12px;

    
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-text-color);
    background: var(--secondary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.footer-form__svg {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.footer-form__container {
    display: flex;
}

.sub-title {
    width: 219px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--secondary-text-color);
}