.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo:not(.nohover):hover,
.logo:not(.nofocus):focus {
color: var(--primary-text-color);
}

.logo__color {
    color:var(--secondary-background-color);
}

// ----------------------- Logo Footer-----------------------


.logo__footer {
    color:var(--secondary-text-color);
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
} 

.logo__footer:not(.nohover):hover,
.logo__footer:not(.nofocus):focus {
color: var(--secondary-text-color);
}